<?xml version="1.0"?>
<launch>
    <arg name="virtual_robot" default="true"/>
    <arg name="virtual_drone" default="false"/>
    <arg name="rvizconfig" default="real.rviz"/>

    <include file="$(find drone_panda)/launch/all.launch">  
        <arg name="virtual_robot" value="$(arg virtual_robot)" />
        <arg name="virtual_drone" value="$(arg virtual_drone)" />
        <arg name="rvizconfig" value="$(arg rvizconfig)" />
    </include>
</launch>
