<?xml version="1.0"?>
<launch>
    <arg name="virtual_robot" default="false"/>
    <arg name="rvizconfig" default="real.rviz"/> 
    <arg name="virtual_drone" default="false"/>

    <node pkg="drone_panda" type="static_publisher" name="camera_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="static_cloud_transform" />
    </node>
    <node pkg="drone_panda" type="pc_publish" name="pc_publish"/>
    
    <node pkg="drone_panda" type="static_publisher" name="panda_gripper_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="sim_robot_transform" />
    </node>

    <include file="$(find teleop_twist_joy)/launch/teleop.launch">  
    </include>
    <node pkg="drone_panda" type="joy_driver" name="joy_driver" output="screen">
        <param name="virtual_robot" type="bool" value="$(arg virtual_robot)" />
    </node>

    <node pkg="drone_panda" type="static_publisher" name="drone_camera_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="drone_camera" />
    </node>

    <node pkg="drone_panda" type="static_publisher" name="sim_ee_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="sim_ee_transform" />
    </node>

    <node pkg="drone_panda" type="simulator" name="simulator" output="screen">
        <param name="use_relaxed_ik" type="bool" value="false" />
        <param name="only_virtual" value="true" />
    </node>
    <node pkg="drone_panda" type="drone_controller_tuning" name="drone_controller" output="screen">
    </node>
        
    <!-- startup rviz -->
    <node pkg="drone_panda" type="rviz_manager" name="rviz_manager">
        <param name="rvizconfig" type="string" value="$(arg rvizconfig)" />
    </node>

    <node pkg="drone_panda" type="velocity_controller" name="velocity_controller" output="screen">
    </node>

    <node name="compress_virtual" pkg="image_transport" type="republish" args="raw in:=/rviz1/camera1/image compressed out:=/virtual_camera/image_repub">
    </node>

    <group if="$(arg virtual_drone)">
        <node pkg="drone_panda" type="virtual_drone_manager" name="virtual_camera_manager" output="screen"/> 
    </group>

    <group unless="$(arg virtual_drone)">
	    <include file="$(find drone_panda)/launch/mocap.launch">  
	    </include>

	    <node pkg="drone_panda" type="static_publisher" name="mocap_camera_static_publisher">
            <param name="file_name" type="string" value="transforms.yaml" />
    		<param name="transform" type="string" value="mocap" />
	    </node>

	    <node pkg="drone_panda" type="tello_driver" name="tello_driver" output="screen">
	    </node>

    </group>

</launch>
