<?xml version="1.0"?>
<launch>
    <arg name="virtual_robot" default="false"/>
    <arg name="use_joy" default="true"/>
    <arg name="use_space_mouse" default="false"/>
    <arg name="output" default="/simulator/joint_states"/>

    <!-- Launch Nodes -->
    <node pkg="drone_panda" type="simulator_lio" name="simulator" output="screen"/>

    <node pkg="panda_ik" type="panda_ik" name="panda_ik" output="screen">
        <param name="URDF" type="string" value="$(find drone_panda)/urdfs/lio_arm.urdf" />
	</node>

    <node pkg="drone_panda" type="velocity_controller" name="velocity_controller" output="screen"/>

    <group if="$(arg virtual_robot)">
        <!-- Load URDF -->
        <param name="robot_description" textfile="$(find drone_panda)/urdfs/lio_complete.urdf" />
        <!-- Launch RVIZ -->
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find drone_panda)/rviz/lio_marker.rviz" />
        <arg name="node_start_delay" default="1.0" />  
        <!-- Launch robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="lio_state_publisher" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " output="screen">
            <remap from="joint_states" to="$(arg output)"/>
            <param name="publish_frequency" type="double" value="1000.0" />
        </node>
    </group>

    <group if="$(arg use_joy)">
    	<include file="$(find teleop_twist_joy)/launch/teleop.launch"/>  
        <rosparam param="joy_node/dev">"/dev/input/js0"</rosparam>
        <node pkg="drone_panda" type="joy_driver" name="joy_driver" output="screen"/>
    </group>

    <group if="$(arg use_space_mouse)">
    	<include file="$(find spacenav_node)/launch/classic.launch"/>
        <node pkg="drone_panda" type="spacemouse_driver" name="spacemouse_driver" output="screen">
        	<param name="virtual_robot" type="bool" value="$(arg virtual_robot)" />
	    </node>
    </group>


</launch>
