<?xml version="1.0" ?>
<launch>

    <node name="ftsensor" pkg="force_torque_sensor" type="ftsensor" output="screen">
        <remap from="/ftsensor/output" to="/JointController/panda/ft_sensor"/>
        <param name="frame_id" type="str" value="ft_sensor_link"/>
    </node>

    <include file="$(find drone_panda)/launch/kinect_toggler.launch"/> 

    <arg name="robot_ip" value="192.168.1.2" />
    <arg name="load_gripper" default="true" />
    <include file="$(find drone_panda)/launch/franka_control_urdfmod.launch" >
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

    <rosparam command="load" file="$(find drone_panda)/config/JointController.yaml" />
    <param name="panda_urdf" type = "str" value = "$(find drone_panda)/urdfs/panda.urdf" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="JointController">
    </node>
</launch>
