<launch>
    <!-- Load the URDF/Xacro model of our robot -->
    <arg name="urdf_file" default="$(find xacro)/xacro '--inorder' '$(find lio_description)/urdf/LIO.urdf.xacro'" />
     <param name="robot_description" command="$(arg urdf_file)" />
    <!-- Publish the robot state -->
    <node name="robot_state_publisherLIO" pkg="robot_state_publisher" type="robot_state_publisher">
    	<param name="publish_frequency" value="50.0"/>
    	<!-- <remap from="joint_states" to="lio_joint_states"/> -->
    </node>

    <!-- <node name="joint_state_publisherLIO" pkg="joint_state_publisher" type="joint_state_publisher">
    	<param name="rate" value="50.0"/>
    </node> -->

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <param name="use_gui" value="true"/>
  </node>




</launch>
